{% extends 'base.html' %}
{% load static %}

{% block hero %}
  <section class="hero-banner text-center">
    <div class="container">
      <p class="text-uppercase">Search and Notify</p>
      <h1>Cari Rumah</h1>
      <p class="hero-subtitle">
        Cari rumah atau kontrakan, save result and get notification 
        for the new added houses for sale or rent.
      </p>
      <form method='post' action='{% url "search" %}'>
          {% csrf_token %}
            <div class="form-group">
              <label for="staticDomainSearch" class="sr-only">Houses Search</label>
              <input type="text" class="form-control" id="staticDomainSearch" name="query" placeholder="Enter Your house search query">
            </div>
          <button class="button button-outline button-outline-1">Search</button>
          </form>

      
    </div>
  </section>
{% endblock hero %}
